@{
    ViewData["Title"] = "Home Page";
}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="images/001.jpg" class="card-img-top" alt="Building applications with Microservices" />
            <div class="card-body">
                <h5 class="card-title">Building applications with Microservices</h5>
                <p class="card-text">
                    To build a successful microservices application, you need to make many key choices about which technologies you need to use.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/002.png"
                 class="card-img-top"
                 alt="..." />
            <div class="card-body">
                <h5 class="card-title">Deploy .NET 5 application on App Service</h5>
                <p class="card-text">
                    .NET 5 includes C# 9 and F# 5 with a set set of new features and improvements. App Service now supports .NET 5 applications across all public regions and scenarios on both Windows and Linux App Service plans.
                </p>

            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img src="images/003.png"
                 class="card-img-top"
                 alt="..." />
            <div class="card-body">
                <h5 class="card-title">Get started with Azure Fabric</h5>
                <p class="card-text">
                    Azure Service Fabric is a distributed systems platform that facilitates the packaging, deployment and management of scalable and reliable containers and microservices. Service Fabric also solves the significant problems of developing and managing native cloud applications.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/004.jpg"
                 class="card-img-top"
                 alt="..." />
            <div class="card-body">
                <h5 class="card-title">Build your cloud strategy</h5>
                <p class="card-text">
                    To accelerate a digital transformation, companies should build a strategy to move to the cloud and ensure a safe transition of your existing applications to the new approaches or start learning the new cloud patterns for a new application. Some companies request a discussion on cloud migration and do not have a cloud strategy in place.
                </p>
            </div>
        </div>
    </div>
</div>
